table {
    width: 80%;
    border: 1px solid black;
    padding: 0.25rem;
    background: lightcyan;
}

th {
    text-align: left;
    padding: 0.5rem;
    background-color: lightblue;
    color: rgba(0,0,0, 0.7)
}

td {
    padding: 0 0.5rem;
}

td:last-child {
    width: 100px;
    text-align: center;
}

tr {
    height: 30px;
}

tr:nth-child(even) {
    background-color: rgba(176, 213, 230, 0.5);
}

button {
    border: none;
    width: auto;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    font-size: 1.0rem;
    color: white;
    background-color: rgba(255,0,0, 0.5);
}